*, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
nav{
    display: flex;
    background-color: #1f2937;
    height: 50px;
    padding: 12px;
    transition: ease all .5s;
}

nav a{
    color: ghostwhite;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    transition: .4s ease-in-out;
}

nav a:hover{
    color:white;
  }

  #openham{
    display:none;
}
  #closeham{
    display:none;
}

#logo{
    height: 24px;
    width: 50px;
    margin-right: 12px;
}

.navigation-items{
    display: flex;
    flex-grow: 1;
    gap: 20px;

}

.user-items{
    margin-left: auto;
    margin-right: 12px;
}

@media screen and (max-width:768px){
    #openham{
        display:inline;
    }
    #logo{
        height: 24px;
        width: 50px;
        margin-right: 0px;
    }
    .logo_box{
        flex-grow: 1;
        display: flex;
        justify-content: center;

    }
    .user-items{
        margin-right: 12px;
    }
    .navigation-items{
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 0;
        top: 50px;
        background-color: #1f2937;
        width: 100%;
        height: calc(100vh - 50px);
        gap: 20px;
    }

}
